/*
!camera_list.csv
!README
!.gitignore
!/loader
/loader/*
!/loader/generic
/loader/generic/*
!/loader/generic/compat_table.h
#/loader/*
!/loader/sx700hs
!/platform
/platform/*
!/platform/sx700hs
*.o
*.DIS
PRIMARY.BIN
*.elf
*.bin
*.syms
*.a
*.dump
/platform/sx700hs/sub/100e/bin_compat.h
/platform/sx700hs/sub/100e/bin_comp_fix.h
*stubs_auto.S
